@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-font: "Lato", sans-serif;
    --icon-color: orange;
}

input[type="text"] {
    width: 175px;
}

.offers-item__image {
    width: 60px;
}
