.search {
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.search__form-container {
    margin-top: 15px;
}

.search__title {
    font-size: 24px;
}

.search__form-submit-input {
    display: block;
    margin: auto;
    margin-top: 10px;
}

@media (min-width: 650px) {
    .search {
        margin-top: 70px;
    }
}
